@mixin tableTheme {
  .ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 0px;
  }
  .ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: 0px;
  }

  .ant-table-thead > tr > th {
    // border-radius: 10px;
    background-color: white;
    text-align: center;
    padding: 0.5%;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    border-bottom: none;
  }

  tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 0px;
  }
  .ant-table-tbody > tr > td {
    text-align: center;
    background-color: white;
    padding: 1.7%;
    white-space: nowrap;
    // padding: 0.5% 0% 1% 3%;
    // text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    color: #39383b;
    border-bottom: none;
    // opacity: 0.9;CAE8ED
    // border-bottom: none;
  }

  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background-color: white;
    // background-color: black;
  }

  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0;
    height: 0;
    content: none;
  }
}

.home {
  // @include TabInkBarcentered();
  @include tableTheme();
  table {
    width: 100%;
  }
  .tableColum,
  .tableColum1,
  .tableColum6,
  .tableColum1,
  .tableColum3,
  .tableColum4,
  .tableColum2,
  .tableColum5 {
    text-align: center;
    background-color: white;
    padding: 1.7%;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    color: #39383b;
    border-bottom: none;
  }

  .tableColum1,
  .tableColum2,
  .tableColum3,
  .tableColum4,
  .tableColum5,
  .tableColum6 {
    border-radius: 50%;
    height: 5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    color: white;
    width: 5rem;
  }
  .ant-table-cell {
    & > div {
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      justify-items: center;
    }
  }
  .tableColum6 {
    background-color: #3587f2;
  }
  .tableColum1 {
    background-color: #36bf7f;
  }
  .tableColum2 {
    background-color: #f2cb05;
  }
  .tableColum3 {
    background-color: #f29f05;
  }
  .tableColum4 {
    background-color: #f24949;
  }
  .tableColum5 {
    background-color: #b8b8b9;
  }
}
